/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.slider-container {
    width: 100%;
    overflow: hidden;
    height: 50vh; /* Set the height to half of the viewport height */
}

.slider {
    display: flex;
    width: 300%; /* Three images at a time, each taking up 100% width */
    animation: slide 30s linear infinite;
}

.slider img {
    width: 16.666%; /* Each image takes up 1/6th (16.666%) of the container */
    height: 80%;
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }
}
