.navbarImages {
    animation-name: animation1;
    animation-duration: 42s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: url('../Images/1francesco-califano-kAC8c1Sq58Y-unsplash.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 400px;
}

@media screen and (max-width: 650px) {
    .navbar {
        flex-direction: column;

    }
    .navbarImages{
    height: 900px;
    }
}

@keyframes animation1 {

    0% {background-image: url('../Images/1francesco-califano-kAC8c1Sq58Y-unsplash.jpg');}

    10% {background-image: url('../Images/pexels-photomix-company-96627.jpg');}

    20% {background-image: url('../Images/pexels-david-besh-884788.jpg');}

    30% {background-image: url('../Images/1francesco-califano-kAC8c1Sq58Y-unsplash.jpg');}

    30% {background-image: url('../Images/2richard-tao-kEzo7ZXhYSk-unsplash.jpg');}

    40% {background-image: url('../Images/pexels-photomix-company-96627.jpg');}

    50% {background-image: url('../Images/mehdi-messrro-yef79KkAguA-unsplash.jpg');}

    60% {background-image: url('../Images/pexels-photomix-company-96627.jpg');}

    70% {background-image: url('../Images/1francesco-califano-kAC8c1Sq58Y-unsplash.jpg');}

    80% {background-image: url('../Images/pexels-photomix-company-96627.jpg');}

    90% {background-image: url('../Images/mehdi-messrro-yef79KkAguA-unsplash.jpg');}

    100% {background-image: url('../Images/1francesco-califano-kAC8c1Sq58Y-unsplash.jpg');}
}
