.navbarImages {
    animation-name: animation1;
    animation-duration: 42s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* background-image: url('../Images/1francesco-califano-kAC8c1Sq58Y-unsplash.jpg'); */
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        position: absolute;

    }
    .navbarImages{
    height: 900px;
    }
}

@keyframes animation1 {

    0% {background-image: url('../Images/image1.jpg');}

    10% {background-image: url('../Images/image2.jpg');}

    20% {background-image: url('../Images/image1.jpg');}

    30% {background-image: url('../Images/image3.jpg');}

    30% {background-image: url('../Images/image4.jpg');}

    40% {background-image: url('../Images/image5.jpg');}

    50% {background-image: url('../Images/image1.jpg');}

    60% {background-image: url('../Images/image2.jpg');}

    70% {background-image: url('../Images/image3.jpg');}

    80% {background-image: url('../Images/image4.jpg');}

    90% {background-image: url('../Images/image5.jpg');}

    100% {background-image: url('../Images/image1.jpg');}
}

